/* /Pages/Components/CardComponent.razor.rz.scp.css */
.card:hover[b-jrd8djhg0c] {
  box-shadow: 5px 5px 20px grey;
}
/* /Pages/Components/ServiceComponent.razor.rz.scp.css */
.card:hover[b-tnhneh0wvc] {
  box-shadow: 5px 5px 20px grey;
}
/* /Pages/Home.razor.rz.scp.css */
@media only screen and (min-width: 1200px){
.container-fluid[b-czcsoku1ji]{ 
  max-width: 70%;
}
}
.carousel-item[b-czcsoku1ji]{
  contain: content;
}




/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-1lt2al6pai] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-1lt2al6pai] {
    flex: 1;
}

.sidebar[b-1lt2al6pai] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-1lt2al6pai] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1lt2al6pai]  a, .top-row .btn-link[b-1lt2al6pai] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-1lt2al6pai] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1lt2al6pai] {
        display: none;
    }

    .top-row.auth[b-1lt2al6pai] {
        justify-content: space-between;
    }

    .top-row a[b-1lt2al6pai], .top-row .btn-link[b-1lt2al6pai] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1lt2al6pai] {
        flex-direction: row;
    }

    .sidebar[b-1lt2al6pai] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1lt2al6pai] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-1lt2al6pai] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-gv3h4hivh7] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-gv3h4hivh7] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-gv3h4hivh7] {
  font-size: 1.1rem;
}

.oi[b-gv3h4hivh7] {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item[b-gv3h4hivh7] {
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.nav-item[b-gv3h4hivh7]  a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item[b-gv3h4hivh7]  a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item[b-gv3h4hivh7]  a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler[b-gv3h4hivh7] {
    display: none;
  }

  .collapse[b-gv3h4hivh7] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
/* /Shared/OtherLayout.razor.rz.scp.css */
.container-fluid[b-z5ekaurx98]{
    background-color: rgb(255, 255, 255);
}
