@page "/movie/{MovieId:int}"
@page "/movie/{MovieId:int}/{MovieName}"
@using ProjectMoviesDiasteros.Client.Pages.Components
@inject IServiceMovie movieI
@inject IErrorMessage showMessage
@inject NavigationManager navigationManager
 
<h6>Ver pelicula</h6>
  
@code {
    @* Se muestra el id y el nombre de la pelicula en la ruta *@
    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieName { get; set; } 
}
