@page "/movie/{MovieId:int}"
@inject IServiceMovie movieServ

<h6>Ver pelicula</h6>
<ShowMovieComponent movie="movie"/>

@code{
    @* Se muestra el id y el nombre de la pelicula en la ruta *@
  
    [Parameter] public int MovieID{get;set;}
 
    private List<Movie> Movies;
    private Movie movie;

    protected override void OnInitialized()
{
    Movies = movieServ.GetMovies();
    movie=Movies[MovieID];
}
}