@page "/movie/{MovieId:int}"
@page "/movie/{MovieId:int}/{Name}"

<h6>Ver pelicula</h6>
@code{
    @* Se muestra el id y el nombre de la pelicula en la ruta *@
    [Parameter] public int Id{get;set;}
    [Parameter] public string Name{get;set;}

    protected override void OnInitialized(){
        Console.WriteLine($"El id de la pelicula es {Id}");
    }
}