<div class="jumbotron">
    <h3 class="text-center">
        Nombre:
        <small class="text-muted">@movie.Name</small>
    </h3>
    <div class="row m-3 lg-m-10">
    <div class="col">    
    <img src=@movie.Poster class="imgfluid" alt="Responsive image">
    </div>
    <div class="col"> 
    <blockquote class="blockquote text-center">
        <p class="mb-0 text-justify">Sinopsis: @movie.Sinopsis</p>
        <br>
        <footer class="blockquotefooter">Fecha de Estreno <cite
                title="Source Title">@movie.Premier</cite></footer>
    </blockquote>
    </div>    
    </div>
</div>
@code{
    [Parameter]
    public Movie movie{get;set;}
    
    
}